@import '../../common/env.scss';

.root {
	display: flex;
	flex-direction: column;
	gap: 20px;

	width: 100%;
	max-width: $ref;

	padding: 40px;
	box-sizing: border-box;
}

.prompt {
	display: flex;
	flex-direction: column;
	align-items: center;

	h3 {
		font-size: 4rem;
		font-weight: 900;
		font-family: Blacksword, sans-serif;

		margin-bottom: 40px;
	}

	p {
		font-size: 1.25rem;
	}
}