@import "../../common/color.scss";
@import "../../common/env.scss";

@mixin line {
	display: grid;
	grid-template-columns: 1fr 100px 1fr;

	align-items: center;
	text-align: center;

	margin-top: 50px;
	margin-bottom: 50px;
}

.root {
	padding-top: 50px;
	padding-bottom: 50px;
}

.line-light {
	@include line;

	hr {
		border: 1px solid gainsboro;
	}
}

.line-dark {
	@include line;

	hr {
		border: 1px solid #161B22;
	}
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 40px;

	margin: 0px auto;

	margin-top: 30px;
	margin-bottom: 30px;

	@media (max-width: $ref) {
		margin-top: 50px;
		margin-bottom: 50px;

		width: 300px;
	}
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-top: 30px;
}

.button {
	color: #AAAAAA;

	transition: 0.3s;

	svg {
		width: 25px;
		height: 25px;
	}

	&:hover {
		color: dodgerblue;

		transition: 0.3s;
	}
}

.logo {
	border-radius: 50%;

	width: 72px;
	height: 72px;

	margin: 0px auto;
}

.text {
	color: #AAAAAA;
}