@import "../../common/color.module.scss";

.root {
	padding-top: 50px;
	padding-bottom: 50px;
}

.line {
	display: grid;
	grid-template-columns: 1fr 100px 1fr;
	grid-column-gap: 20;

	align-items: center;
	text-align: center;

	margin-top: 50px;
	margin-bottom: 50px;
}

.buttons {
	width: 500px;

	display: flex;
	justify-content: space-evenly;

	margin: 0px auto;

	margin-top: 100px;
	margin-bottom: 100px;

	@media (max-width: 960px) {
		margin-top: 50px;
		margin-bottom: 50px;

		width: 300px;
	}
}

.logo {
	width: 72px !important;
	height: 72px !important;

	margin: 0px auto;
}

@mixin button {
	svg {
		width: 50px;
		height: 50px;
	}

	@media (max-width: 960px) {
		svg {
			width: 25px;
			height: 25px;
		}
	}
}

.github {
	@include button();

	background: linear-gradient(to right, #8E2DE2, #4A00E0) !important;
	color: white !important;
}

.mail {
	@include button();

	background: linear-gradient(to right, #00C6FF, #0072FF) !important;
	color: white !important;
}

.rss {
	@include button();

	background: linear-gradient(to right, #ec9f05, #ff4e00) !important;
	color: white !important;
}

.sitemap-mini {
	background: linear-gradient(to right, #5f72be, #9921e8) !important;
	color: white !important;
}

.rss-mini {
	background: linear-gradient(to right, #ec9f05, #ff4e00) !important;
	color: white !important;
}

.text {
	color: #AAAAAA;
}