.card {
	transition: 0.75s ease-out;

	.thumbnail img {
		transition: 0.75s ease-out;
	}

	&:hover {
		transform: translateY(-10px);

		.thumbnail img {
			scale: 1.2;
		}
	}
}

.button {
	width: 100%;
	height: 100%;
}

.thumbnail {
	overflow: hidden;

	&::after {
		display: block;
		content: "";
		padding-bottom: 70%;
	}
}

.description {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
