@import "../../fonts/blacksword.scss";

@import "../../common/animation.scss";
@import "../../common/env.scss";

.root {
	display: grid;
	align-content: center;

	position: fixed;

	width: 100%;
	height: 100%;

	top: 0px;
	z-index: 20;

	transition: 0.3s;
	backdrop-filter: blur(20px);

	cursor: wait;

	&.dark {
		background-color: #161D2CCC;
	}

	&.light {
		background-color: #F5F5F5CC;
	}
}

.logo-wrapper {
	padding: 15px;
	margin: 0px auto;
}