.root {
	padding: 15px;

	border-radius: 50%;

	transition: 0.3s;

	cursor: pointer;

	&.dark {
		background-color: #161B22;
		color: white;

		border: 1px solid #21262D;
		box-shadow: 3px 3px 5px #21262D;

		&:hover {
			background-color: #262d35;
		}
	}

	&.light {
		background-color: white;
		color: black;

		border: 1px solid gainsboro;
		box-shadow: 3px 3px 5px gainsboro;

		&:hover {
			background-color: whitesmoke;
		}
	}
}