* {
	user-select: none;
}

pre,
code {
	cursor: text;

	user-select: text;

	* {
		user-select: text;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

.w-full {
	width: 100%;
}

.h-full {
	height: 100%;
}

html,
body {
	font-size: 16px;

	@media (max-width: 600px) {
		font-size: 12px;
	}
}

body {
	transition: 0.3s;
}

ul {
	padding-inline-start: 20px;
}
