.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 80%;
	max-width: 1200px;

	overflow: hidden;
}

.wave {
	rotate: 180deg;
}

.icon {
	transform: translate(-50%, -50%);
}

.link {
	width: 100%;
	justify-content: initial;
}

.button {
	height: 100%;
	padding: 16px;

	font-size: 40px;
}

.counter {
	transform: translateX(-50%);
}

.carousel {
	backdrop-filter: contrast(0.9);
}
