.tile {
	opacity: 0;
	scale: 0.5;

	transition: 1s ease;

	&.active {
		opacity: 1;
		scale: 1;
	}
}

.image {
	transition: 0.3s ease;

	&:hover {
		scale: 1.1;
	}
}

.title {
	background: linear-gradient(to bottom, transparent, black);
}
