.card {
	background: linear-gradient(to right, #c2a2e6, #76efd9);
}

.text {
	background: linear-gradient(to right, #c2a2e6, #76efd9);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.image {
	box-shadow: 3px 3px 3px black;
}