$base-url: "https://rawcdn.githack.com/RWB0104/FontBase/7f88130f5927468dd2348be8a8546d6682ea9b59/Blacksword/";
$name: "Blacksword";

$font-url: $base-url + $name;

@font-face {
	font-family: "Blacksword";
	src: url($font-url + ".eot");
	src: url($font-url + ".eot?#iefix") format("embedded-opentype"),
		url($font-url + ".woff2") format("woff2"),
		url($font-url + ".woff") format("woff")
}