@import "../fonts/hack.scss";
@import "../common/color.scss";

@mixin gutter() {
	margin-top: 40px;
	margin-bottom: 40px;
}

@mixin table() {
	@include gutter;

	overflow: auto;

	table {
		margin: auto;
		border-collapse: collapse;

		tr {
			margin: 0px;
			padding: 0px;

			transition: 0.3s;

			&:hover {
				transition: 0.3s;
			}

			&:first-child {
				th:first-child {
					border-top-left-radius: 10px;
				}

				th:last-child {
					border-top-right-radius: 10px;
				}
			}

			&:last-child {
				td:first-child {
					border-bottom-left-radius: 10px;
				}

				td:last-child {
					border-bottom-right-radius: 10px;
				}
			}

			th {
				background-color: #1e2739;
				color: map-get($teal, "600");

				padding: 8px 20px;
				text-align: center;

				white-space: nowrap;
			}

			td {
				padding: 8px 20px;

				white-space: nowrap;
			}

			td img {
				margin: initial;
			}
		}
	}
}

.markdown {
	line-height: 1.75;

	margin-bottom: 200px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		padding-left: 10px;

		margin-top: 100px;
		margin-bottom: 30px;

		&:hover {
			a {
				font-size: inherit;
				opacity: 1;
			}
		}

		a {
			font-size: 0px;
			text-decoration: none;

			opacity: 0;
		}

		.katex {
			font-size: inherit;
		}
	}

	h1 {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 1.3rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	h4 {
		font-size: 1.15rem;
	}

	h5 {
		font-size: 1.1rem;
	}

	h6 {
		font-size: 1.05rem;
	}

	span {
		display: inline;
	}

	img {
		display: block;
		margin: auto;

		max-width: 100%;

		@include gutter;
	}

	pre,
	code {
		user-select: text;
		-moz-user-select: text;
		-webkit-user-select: text;

		* {
			user-select: text;
			-moz-user-select: text;
			-webkit-user-select: text;
		}
	}

	pre[class*="language-"],
	code[class*="language-"] {
		@include gutter;

		background-color: #161d2c;
		padding: 55px 20px 20px 20px !important;

		border-radius: 10px;

		font-family: Hack, AppleSDGothicNeo, sans-serif;
		color: white;

		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;

		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;

		overflow: auto;

		.token.comment,
		.token.block-comment,
		.token.prolog,
		.token.doctype,
		.token.cdata {
			color: map-get($green, "600");
		}

		.token.annotation.punctuation {
			color: #808080;
		}

		.token.punctuation {
			color: #82AAFF;
		}

		.token.tag,
		.token.attr-name,
		.token.namespace,
		.token.deleted {
			color: #e2777a;
		}

		.token.function-name,
		.token.function {
			color: #82AAFF;
		}

		.token.boolean,
		.token.number {
			color: #f08d49;
		}

		.token.property,
		.token.class-name,
		.token.constant,
		.token.symbol {
			color: #FFCB6B;
		}

		.token.selector,
		.token.important,
		.token.atrule,
		.token.keyword,
		.token.builtin {
			color: #C792EA;
			font-style: italic;
		}

		.token.string,
		.token.char,
		.token.attr-value,
		.token.regex,
		.token.variable {
			color: map-get($map: $pink, $key: "300");
		}

		.token.operator,
		.token.entity,
		.token.url {
			color: #67cdcc;
		}

		.token.important,
		.token.bold {
			font-weight: bold;
		}

		.token.italic {
			font-style: italic;
		}

		.token.entity {
			cursor: help;
		}

		.token.inserted {
			color: green;
		}
	}

	code:not([class*="language-"]) {
		color: white;

		font-family: Hack, AppleSDGothicNeo, sans-serif;

		display: inline-block;

		padding: 0px 4px;
		margin: 0px 3px;

		border-radius: 5px;
	}

	.codeblock {
		position: relative;

		&:hover {
			button {
				opacity: 1;
			}
		}

		table {
			border-collapse: collapse;

			& tr:nth-child(2n) {
				background-color: #1c2335;
			}

			& tr:hover {
				background-color: #546687;

				& td:first-child {
					color: white;
				}
			}

			& td:nth-child(1) {
				color: #455983;
				padding-right: 10px;

				border-right: 1px solid #455983;

				text-align: right;

				user-select: none;
				-moz-user-select: none;
				-webkit-user-select: none;
			}

			& td:nth-child(2) {
				width: 100%;

				padding: 0px 20px 0px 10px;
			}
		}

		.top {
			position: absolute;

			top: 0px;
			left: 0px;

			width: 100%;
			padding: 5px 20px;

			background-color: #2b3445;

			border-top-left-radius: 10px;
			border-top-right-radius: 10px;

			display: flex;
			flex-direction: row;

			align-items: center;

			p {
				margin: 0px;
				flex-grow: 1;

				color: map-get($yellow, "400");
			}

			div {
				width: 15px;
				height: 15px;

				border-radius: 50%;

				margin: 0px 5px;

				&:nth-child(2) {
					background-color: #fe5f57;
				}

				&:nth-child(3) {
					background-color: #ffbd2e;
				}

				&:nth-child(4) {
					background-color: #29c941;
				}
			}
		}

		button {
			position: absolute;

			top: 50px;
			right: 20px;
			width: 40px;
			height: 40px;

			background-color: #1e2739;
			cursor: pointer;

			border: 1px solid map-get($grey, "600");
			border-radius: 10px;

			opacity: 0;

			transition: 0.3s;
		}
	}

	a {
		color: map-get($lightBlue, "A400");
		transition: 0.3s;

		&:hover {
			color: map-get($lightBlue, "A100");
		}
	}

	li {
		word-break: break-all;

		img {
			display: initial;
			margin: initial;
		}
	}

	blockquote {
		font-style: italic;

		border-left: 5px solid map-get($orange, "A400");

		padding: 5px 30px;

		margin-top: 70px;
		margin-bottom: 70px;
	}

	iframe {
		@include gutter;

		display: block;
		margin: auto;
		max-width: 100%
	}

	.katex {
		letter-spacing: 1px;

		padding: 0px;

		.vlist > span {
			display: flow-root
		}
	}

	.katex-block {
		width: 100%;

		margin-top: 20px;
		margin-bottom: 20px;

		text-align: center;

		overflow-x: auto;
	}

	.large {
		font-size: 1.05rem;
	}

	.small {
		font-size: 0.9rem
	}

	.i-clipboard {
		color: map-get($map: $grey, $key: "600");
		width: 12px;
	}

	.i-check {
		color: map-get($map: $green, $key: "A400");
		width: 12px;
	}
}

.markdown.dark {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		$header-color: map-get($map: $indigo, $key: "700");
		border-left: 10px solid $header-color;
		border-bottom: 3px solid $header-color;
	}

	code:not([class*="language-"]) {
		background-color: map-get($map: $indigo, $key: "700");
	}

	blockquote {
		background-color: #1e2739;
	}

	.table-wrapper {
		@include gutter;
		@include table;

		table {
			$border: #323c50;

			tr {
				background-color: #2b3445;

				&:nth-child(2n) {
					background-color: $border;
				}

				&:hover {
					background-color: dodgerblue;
				}
			}
		}
	}
}

.markdown.light {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		$header-color: map-get($map: $pink, $key: "200");
		border-left: 10px solid $header-color;
		border-bottom: 3px solid $header-color;
	}

	code:not([class*="language-"]) {
		background-color: map-get($map: $pink, $key: "400");
	}

	blockquote {
		background-color: whitesmoke;
	}

	.table-wrapper {
		@include gutter;
		@include table;

		table {
			$border: gainsboro;

			tr {
				background-color: whitesmoke;

				&:nth-child(2n) {
					background-color: $border;
				}

				&:hover {
					background-color: skyblue !important;
				}
			}
		}
	}
}