.heading {
	margin-top: 60px;

	a {
		scroll-margin-top: 60px;

		&:hover {
			text-decoration: underline;
		}
	}

	&.h1 {
		font-size: calc(1rem + 18px);
	}

	&.h2 {
		font-size: calc(1rem + 15px);
	}

	&.h3 {
		font-size: calc(1rem + 12px);
	}

	&.h4 {
		font-size: calc(1rem + 9px);
	}

	&.h5 {
		font-size: calc(1rem + 6px);
	}

	&.h6 {
		font-size: calc(1rem + 3px);
	}
}