.text {
	opacity: 0;
}

.animate {
	animation: slide 3s ease;
}

@keyframes slide {
	0%,
	40% {
		opacity: 0;
		transform: translateY(-30px);
	}

	40%,
	60% {
		opacity: 1;
		transform: translateY(0px);
	}

	100% {
		opacity: 0;
		transform: translateY(30px);
	}
}
