.li {
	line-height: 2;
}

.image {
	object-fit: cover;
	filter: brightness(40%);
}

.link {
	&:hover {
		text-decoration: underline;
	}
}

.icon {
	animation: left 2s ease-in-out infinite;
}

@keyframes left {
	0% {
		translate: 0px 0px;
	}

	50% {
		translate: 5px 0px;
	}

	100% {
		translate: 0px 0px;
	}
}