@import "../../fonts/blacksword.scss";

@import "../../common/animation.scss";
@import "../../common/env.scss";

.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;

	max-width: $ref;

	padding: 40px;
}

.title {
	font-size: 4rem;
	font-weight: 900;
	font-family: Blacksword, sans-serif;
}

.more {
	display: block;
	padding: 15px 40px;

	margin-top: 20px;

	font-size: 1.25rem;
	font-weight: bold;

	border-radius: 5px;

	transition: 0.3s;

	word-spacing: 10px;

	&:hover {
		opacity: 0.7;
	}

	&.dark {
		border: 1px solid #2B3442;
		background-color: #161B22;
		color: white;
	}

	&.light {
		border: 1px solid gainsboro;
		background-color: whitesmoke;
	}
}