@import "../../fonts/blacksword.scss";

@import "../../common/animation.scss";
@import "../../common/env.scss";

.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;

	max-width: $ref;

	padding: 40px;
}

.title {
	font-size: 4rem;
	font-weight: 900;
	font-family: Blacksword, sans-serif;
}

.more {
	display: block;
	padding: 15px 40px;

	margin-top: 20px;

	font-size: 1.25rem;
	font-weight: bold;

	border-radius: 10px;

	border: 1px solid dodgerblue;
	color: dodgerblue;

	transition: 0.3s;

	word-spacing: 10px;

	&:hover {
		background-color: dodgerblue;
		color: white;
	}
}