@import "../fonts/hack.scss";
@import "./color.scss";

@mixin gutter() {
	$size: 40px;

	margin-top: $size;
	margin-bottom: $size;
}

@mixin table() {
	@include gutter;

	overflow: auto;
	border-radius: 5px;

	table {
		margin: auto;
		border-collapse: collapse;

		tr {
			margin: 0px;
			padding: 0px;

			transition: 0.3s;

			th {
				padding: 8px 20px;
				text-align: center;

				white-space: nowrap;
			}

			td {
				font-size: 0.9rem;
				padding: 5px 15px;

				white-space: nowrap;
			}

			td img {
				margin: initial;
			}

			&:hover {
				a {
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}

.markdown {
	line-height: 1.75;
	margin-bottom: 200px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 50px;

		&:hover {
			a {
				font-size: inherit;
			}
		}

		a {
			font-size: 0px;
			text-decoration: none;
		}

		.katex {
			font-size: inherit;
		}
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.8rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.3rem;
	}

	h5 {
		font-size: 1.2rem;
	}

	h6 {
		font-size: 1.1rem;
	}

	&>p {
		padding: 10px 0px;
	}

	span {
		display: inline;
	}

	img {
		display: block;
		margin: auto;

		max-width: 100%;

		@include gutter;
	}

	pre,
	code {
		font-family: Hack, AppleSDGothicNeo, sans-serif;

		font-size: 0.8rem;

		cursor: text;
		user-select: text;

		* {
			user-select: text;
		}
	}

	.inline-code {
		display: inline-block;

		padding: 0px 6px;
		margin: 0px 3px;

		border-radius: 5px;
	}

	.block-code {
		@include gutter;

		display: flex;
		flex-direction: column;

		position: relative;

		&:hover {
			button {
				opacity: 1;
			}
		}

		pre {
			padding: 20px;
			overflow: auto;

			table {
				line-height: 1.5;
				border-collapse: collapse;

				& td {
					&:nth-child(1) {
						padding-right: 10px;

						text-align: right;

						user-select: none;
						-moz-user-select: none;
						-webkit-user-select: none;
					}

					&:nth-child(2) {
						width: 100%;

						padding: 0px 20px 0px 10px;

						font-family: Hack, AppleSDGothicNeo, sans-serif;

						span {
							font-family: inherit;
						}
					}
				}
			}
		}

		.top {
			padding: 5px 20px;

			border-top-left-radius: 5px;
			border-top-right-radius: 5px;

			display: flex;
			flex-direction: row;

			align-items: center;

			p {
				margin: 0px;
				flex-grow: 1;
			}

			div {
				width: 10px;
				height: 10px;

				border-radius: 50%;

				margin: 0px 5px;

				&:nth-child(2) {
					background-color: #fe5f57;
				}

				&:nth-child(3) {
					background-color: #ffbd2e;
				}

				&:nth-child(4) {
					background-color: #29c941;
				}
			}
		}

		button {
			position: absolute;

			top: 50px;
			right: 20px;
			width: 40px;
			height: 40px;

			cursor: pointer;

			border-radius: 10px;

			opacity: 0;

			transition: 0.3s;
		}
	}

	a {
		color: map-get($lightBlue, "A400");
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	ul,
	ol {
		padding-left: 20px;

		li {
			word-break: break-all;

			img {
				display: initial;
				margin: initial;
			}
		}
	}

	blockquote {
		font-style: italic;

		border-left: 5px solid map-get($orange, "A400");

		padding: 5px 30px;

		margin-top: 70px;
		margin-bottom: 70px;
	}

	iframe {
		@include gutter;

		display: block;
		margin: auto;
		max-width: 100%
	}

	.katex {
		letter-spacing: 1px;

		padding: 0px;

		.vlist>span {
			display: flow-root
		}
	}

	.katex-block {
		width: 100%;

		margin-top: 20px;
		margin-bottom: 20px;

		text-align: center;

		overflow-x: auto;
	}

	.large {
		font-size: 1.05rem;
	}

	.small {
		font-size: 0.9rem
	}

	.i-clipboard {
		color: map-get($map: $grey, $key: "600");
		width: 12px;
	}

	.i-check {
		color: map-get($map: $green, $key: "A400");
		width: 12px;
	}

	&.dark {

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			text-shadow: 1px 1px 5px whitesmoke;
		}

		&>p>a>img {
			border: 1px solid #161B22;
		}

		.inline-code {
			background-color: #2b3445;
			border: 1px solid #0D1117;
		}

		blockquote {
			background-color: #1e2739;
		}

		.block-code {
			@include code-dark();

			background-color: #0D1117;
			border: 1px solid #2b3442;

			pre {
				table {
					& tr {
						&:nth-child(2n) {
							background-color: #161B22;
						}

						&:hover {
							background-color: #2b3442;

							& td:first-child {
								color: white;
							}
						}
					}

					& td {
						&:nth-child(1) {
							color: #455983;
							border-right: 1px solid #455983;
						}
					}
				}
			}

			.top {
				background-color: #161B22;
			}

			button {
				background-color: #1e2739;
				border: 1px solid map-get($grey, "600");
			}
		}

		.table-wrapper {
			@include gutter;
			@include table;

			table {
				border: 1px solid #323c50;
				background-color: #0D1117;

				th {
					background-color: #161B22;
				}

				tr {
					&:nth-child(2n) {
						background-color: #161B22;
					}

					&:hover {
						background-color: #2b3442;
					}
				}
			}
		}
	}

	&.light {

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			text-shadow: 1px 1px 3px grey;
		}

		&>p>a>img {
			border: 1px solid gainsboro;
		}

		.inline-code {
			background-color: whitesmoke;
			border: 1px solid gainsboro;
		}

		blockquote {
			background-color: rgb(31, 24, 24);
		}

		.block-code {
			@include code-light();

			background-color: whitesmoke;
			border: 1px solid gainsboro;
			border-radius: 5px;

			pre {
				table {
					& tr {
						&:nth-child(2n) {
							background-color: #E9E9E9;
						}

						&:hover {
							background-color: #DDD;

							& td:first-child {
								color: black;
							}
						}
					}

					& td {
						&:nth-child(1) {
							color: grey;
							border-right: 1px solid gainsboro;
						}
					}
				}
			}

			.top {
				background-color: white;
			}

			button {
				background-color: whitesmoke;
				border: 1px solid map-get($grey, "400");
			}
		}

		.table-wrapper {
			@include gutter;
			@include table;

			table {
				border: 1px solid gainsboro;
				background-color: whitesmoke;

				th {
					background-color: white;
				}

				tr {
					&:nth-child(2n) {
						background-color: #E9E9E9;
					}

					&:hover {
						background-color: #DDD;
					}
				}
			}
		}
	}
}