.ship {
	animation: floating 6s ease-in-out infinite alternate,
		yay 6s ease-in-out infinite alternate;
}

@keyframes floating {
	0% {

		transform: translate(15px, 0px);
	}

	33% {
		transform: translate(-15px, -13px);
	}

	66% {
		transform: translate(15px, 0px);
	}
}

@keyframes yay {
	0% {
		rotate: 5deg;
	}

	50% {
		rotate: -5deg;
	}

	100% {
		rotate: 5deg;
	}
}