@import "./_color.scss";

* {
	transition: background, background-color 0.3s;
	user-select: none;
}

body {
	@media (max-width: 600px) {
		font-size: calc(1rem - 2px);
	}
}

a {
	color: inherit;
	text-decoration: none;
}

.fullwidth {
	width: 100%;
}

.fullheight {
	height: 100%;
}

.selectable {
	user-select: text;
}

.unselectable {
	user-select: none;
}

pre, code {
	user-select: text;

	* {
		user-select: text;
	}
}

code {
	font-family: inherit !important;
}