@import "../../common/animation.scss";
@import "../../common/color.scss";
@import "../../common/env.scss";

$item-height: 152px;

@mixin root {
	max-width: $ref;

	border-radius: 10px;
	box-sizing: border-box;

	margin: 40px;

	overflow: hidden;
}

.root-light {
	@include root;
	border: 1px solid gainsboro;
}

.root-dark {
	@include root;
	border: 1px solid #475160;
}

.header {
	display: flex;
	align-items: center;

	font-size: 1.5rem;

	padding: 10px 30px;

	cursor: pointer;

	&[data-show=true] {
		svg {
			@include rotate-180-animaition;
		}
	}

	&[data-show=false] {
		svg {
			@include rotate-360-animaition;
		}
	}
}

.title {
	flex: 1;

	font-size: inherit;
	font-weight: 900;
}

.body {
	display: grid;
	grid-template-columns: repeat(6, 1fr);

	max-height: 0px;

	@media (max-width: $ref) {
		grid-template-columns: repeat(3, 1fr);
	}

	&[data-show=true] {
		@include slide-down-true-animation;
	}

	&[data-show=false] {
		@include slide-down-false-animation;
	}
}

.item {
	position: relative;

	background-position: center;
	background-size: contain;

	transition: 0.3s;

	cursor: pointer;

	&:after {
		content: "";

		display: block;
		padding-bottom: 100%;
	}

	&:hover {
		background-size: 120%;
	}
}

.meta {
	display: flex;
	justify-content: space-between;

	padding: 10px;

	box-sizing: border-box;

	position: absolute;
	bottom: 0px;
	left: 0px;

	width: 100%;

	background-color: #000000AA;

	p {
		font-size: 0.8rem;
	}
}

.flag {
	position: absolute;
	top: 10px;
	right: 10px;
}