@import "../../common/color.scss";
@import "../../common/env.scss";

@mixin oneline {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: 0.5s;
}

.root {
	margin-top: 40px;

	&>div:not(:last-child) {
		margin-bottom: 20px;
	}
}

.item {
	display: flex;
	align-items: center;
	gap: 20px;

	&>p:first-child {
		min-width: 150px;
	}

	@media (max-width: $ref) {
		&>p:first-child {
			min-width: 100px
		}
	}
}

.category-wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}

.category-image {
	border-radius: 50%;

	$size: 24px;
	width: $size;
	height: $size;
}

.tags {
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}

.text {
	@include oneline();
}

.link {
	@include oneline();

	color: map-get($map: $amber, $key: "700");

	cursor: pointer;
}