@import "../../common/color.scss";
@import "../../common/env.scss";

@mixin root {
	display: flex;
	align-items: center;
	gap: 10px;

	width: 100%;

	padding: 2px 25px;
	box-sizing: border-box;

	border-radius: 50px;

	button {
		color: inherit;
	}
}

.root-wrapper {
	width: 100%;
	max-width: $ref;

	padding: 40px;
	box-sizing: border-box;
}

.root-light {
	@include root;

	border: 1px solid gainsboro;
	background-color: whitesmoke;
}

.root-dark {
	@include root;

	border: 1px solid #161B22;
	background-color: #0D1117;
}

.text {
	flex: 1;
	border: transparent;
	background-color: transparent;
	outline: transparent;

	padding: 10px;

	color: inherit;
}