@import "../../common/color.scss";

@mixin toc() {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;

	border-radius: 10px;

	padding: 20px;

	h2 {
		font-weight: bold;
		font-size: 1.8rem;

		color: map-get($lightBlue, "A400");

		font-family: Blacksword, sans-serif;
	}

	ul {
		padding-left: 20px;
	}

	li {
		transition: 0.3s;

		a {
			text-decoration: none;

			line-height: 1.7;

			color: inherit;
		}

		&:hover {
			color: map-get($lightBlue, "A400");
		}
	}
}

.toc-dark {
	@include toc();

	background-color: #0D1117;
	border: 1px solid #21262D;

	a {
		color: white;
	}
}

.toc-light {
	@include toc();

	background-color: whitesmoke;
	border: 1px solid gainsboro;

	a {
		color: black;
	}
}