@import "../../common/color.module.scss";
@import "../../common/env.scss";

@mixin oneline {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: 0.3s;
}

@mixin multiline($num) {
	display: -webkit-box;
	white-space: normal;
	overflow: hidden;
	transition: 0.3s;

	-webkit-line-clamp: $num;
	-webkit-box-orient: vertical;
}

@mixin root {
	width: 100%;

	border-radius: 10px;

	overflow: hidden;
}

.root-light {
	@include root;

	$color: gainsboro;

	border: 1px solid $color;
	box-shadow: 3px 3px 5px $color;
}

.root-dark {
	@include root;

	$color: #161B22;

	border: 1px solid $color;
	box-shadow: 3px 3px 5px $color;
}

.body-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;

	padding: 20px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer {
	display: flex;
	justify-content: space-between;

	p {
		font-size: 0.85rem;
	}
}

.footer-detail {
	display: none;

	&[data-show=true] {
		display: initial;
	}
}

.image-wrapper {
	overflow: hidden;

	height: 280px;

	@media (max-width: $ref) {
		height: 180px;
	}
}

.image {
	object-fit: cover;
	object-position: center;

	width: 100%;
	height: 280px;

	transition: 0.3s;

	&:hover {
		transform: scale(1.2);
	}

	@media (max-width: $ref) {
		height: 180px;
		transition: 0.3s;
	}
}

.category-wrapper {
	display: flex;
	align-items: center;
	gap: 10px;

	position: relative;

	&>a:nth-child(2) {
		flex: 1;
	}
}

.category-image {
	$size: 30px;

	width: $size;
	height: $size;

	border-radius: 50%;
}

.category {
	@include oneline;

	width: 50%;

	transition: 0.3s;

	color: map-get($map: $amber, $key: "700");

	@media (max-width: $ref) {
		transition: 0.3s;
	}
}

.title {
	@include multiline(2);

	font-weight: 900;
	font-size: 1.5rem;

	transition: 0.3s;

	&:hover {
		color: dodgerblue;
	}

	@media (max-width: 960px) {
		margin-bottom: 10px;

		transition: 0.3s;

		font-size: 1.2rem;
	}
}

.excerpt {
	@include multiline(3);
}