@mixin button {
	display: inline-flex;
	align-items: center;
	gap: 10px;

	padding: 5px 10px;

	border-radius: 5px;

	transition: 0.3s;

	&:not([data-prev=true]) {
		justify-content: end;
	}
}

.root {
	margin-top: 100px;
}

.mover-wrapper {
	display: flex;
	gap: 20px;

	a {
		svg {
			width: 32px;
		}
	}
}

.divider {
	margin: 10px 0px;
}

.button-dark {
	@include button();

	border: 1px solid white;

	&:hover {
		background-color: white;
		color: black;
	}
}

.button-light {
	@include button();

	border: 1px solid black;

	&:hover {
		background-color: black;
		color: white;
	}
}