.root {
	margin: 5px !important;

	background: linear-gradient(45deg, #4776E6, #8E54E9);

	color: white !important;

	transition: 0.5s;

	max-width: 600px;

	@media (max-width: 960px) {
		max-width: 80vw;
	}

	&:hover {
		transform: scale(1.1);

		transition: 0.5s;
	}
}