@import "../../common/color.module.scss";

.root {
	font-size: 14px;
	font-family: 'AppleSDGothicNeo, sans-serif';

	background-color: map-get($map: $deepPurple, $key: "600");
	color: white;

	border: 1px solid white;
	border-radius: 10%;
	padding: 5px;
}