.viewer {
	word-wrap: break-word;
}

.left {
	width: 100%;

	&.dual {
		width: 50%;
	}
}

.right {
	width: 50%;
}

@media (max-width: 1024px) {
	.left {
		width: 100%;
	}

	.right {
		width: 100%;
	}
}
