@import "../../common/env.scss";

.root {
	display: flex;
	align-items: center;
	gap: 20px;

	position: fixed;

	right: 50px;
	bottom: 50px;

	@media (max-width: $ref) {
		right: 30px;
		bottom: 30px;
	}
}