@import "../../common/animation.module.scss";

.root {
	display: none;

	top: 0px;

	transition: 0.5s;

	background-color: rgba($color: black, $alpha: 0.8);
	backdrop-filter: blur(5px) saturate(180%);
}

.logo {
	animation: rotate 5s linear infinite;
	transform-origin: 50% 50%;

	margin: 0px auto;

	transition: 0.5s;
}

.title {
	font-family: Blacksword, sans-serif !important;
	font-weight: 900 !important;
	font-size: 128px !important;

	color: white;

	@media (max-width: 960px) {
		font-size: 64px !important;
	}
}