@import "../../fonts/blacksword.scss";

@import "../../common/animation.scss";
@import "../../common/env.scss";

@mixin root {
	display: grid;
	align-content: center;

	position: fixed;

	width: 100%;
	height: 100%;

	top: 0px;
	z-index: 20;

	transition: 0.3s;

	cursor: wait;
}

.root-light {
	@include root;

	background-color: #F5F5F5CC;
}

.root-dark {
	@include root;

	background-color: #161D2CCC;
}

.logo-wrap {
	padding: 15px;
	margin: 0px auto;

	border-radius: 50%;
	background-color: #020D1D;
}

.logo {
	color: #00D8FF;

	width: 70px;
	height: 70px;

	transition: 0.3s;

	@include spin-animation;
}

.title {
	font-family: Blacksword, sans-serif;
	font-weight: 900;
	font-size: 8rem;

	color: white;

	@media (max-width: $ref) {
		font-size: 4rem;
	}
}