@import "../../fonts/hack.module.scss";
@import "../../common/color.module.scss";

@mixin gutter()
{
	margin-top: 70px;
	margin-bottom: 70px;
}

@mixin table()
{
	@include gutter;

	overflow: auto;

	table {
		margin: auto;
		border-collapse: collapse;

		tr {
			margin: 0px;
			padding: 0px;

			transition: 0.5s;

			&:hover {
				transition: 0.5s;
			}

			&:first-child {
				th:first-child {
					border-top-left-radius: 10px;
				}

				th:last-child {
					border-top-right-radius: 10px;
				}
			}

			&:last-child {
				td:first-child {
					border-bottom-left-radius: 10px;
				}

				td:last-child {
					border-bottom-right-radius: 10px;
				}
			}

			th {
				background-color: #1e2739;
				color: map-get($teal, "600");

				padding: 8px 20px;
				text-align: center;

				white-space: nowrap;
			}

			td {
				padding: 8px 20px;

				white-space: nowrap;
			}
		}
	}
}

.markdown {
	$font-size: 20px;

	font-size: $font-size !important;
	line-height: 1.75;

	margin-bottom: 200px;

	@media (max-width: 960px) {
		font-size: 16px !important;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 100px;
		margin-bottom: 30px;

		&:hover {
			a {
				opacity: 1;
			}
		}

		a {
			text-decoration: none;

			opacity: 0;
		}

		.katex {
			font-size: inherit;
		}
	}

	h1 {
		font-size: 70px !important;

		@media (max-width: 960px) {
			font-size: 50px !important;
		}
	}

	h2 {
		font-size: 60px !important;

		@media (max-width: 960px) {
			font-size: 40px !important;
		}
	}

	h3 {
		font-size: 50px !important;

		@media (max-width: 960px) {
			font-size: 35px !important;
		}
	}

	h4 {
		font-size: 40px !important;

		@media (max-width: 960px) {
			font-size: 30px !important;
		}
	}

	h5 {
		font-size: 30px !important;

		@media (max-width: 960px) {
			font-size: 25px !important;
		}
	}

	h6 {
		font-size: 25px !important;

		@media (max-width: 960px) {
			font-size: 20px !important;
		}
	}

	span {
		display: inline;
	}

	img {
		display: block;
		margin: auto;
		@include gutter;

		max-width: 100%;
	}

	pre, code {
		user-select: text;
		-moz-user-select: text;
		-webkit-user-select: text;

		* {
			user-select: text;
			-moz-user-select: text;
			-webkit-user-select: text;
		}
	}

	pre[class*="language-"],
	code[class*="language-"] {
		font-family: Hack, sans-serif;

		.language-tc {
			color: white !important;
		}

		.token.block-comment, .token.cdata, .token.comment, .token.doctype, .token.prolog {
			color: map-get($green, "700" ) !important;
		}
	}

	a {
		color: map-get($lightBlue, "A400");
		transition: 0.5s;

		&:hover {
			color: map-get($lightBlue, "A100");
			transition: 0.5s;
		}
	}

	li {
		word-break: break-all;
	}

	blockquote {
		font-style: italic;

		border-left: 5px solid map-get($orange, "A400");

		padding: 5px 30px;

		margin-top: 70px;
		margin-bottom: 70px;
	}

	.codeblock {
		position: relative;

		&:hover {
			button {
				opacity: 1;
			}
		}

		.top {
			position: absolute;

			top: -10px;
			left: 0px;

			width: 100%;
			padding: 5px 20px;

			background-color: #2b3445;

			border-top-left-radius: 10px;
			border-top-right-radius: 10px;

			display: flex;
			flex-direction: row;

			align-items: center;

			p {
				margin: 0px;
				flex-grow: 1;

				color: map-get($yellow, "400");
			}

			div {
				width: 15px;
				height: 15px;

				border-radius: 50%;

				margin: 0px 5px;

				&:nth-child(2) {
					background-color: #fe5f57;
				}

				&:nth-child(3) {
					background-color: #ffbd2e;
				}

				&:nth-child(4) {
					background-color: #29c941;
				}
			}
		}

		button {
			position: absolute;

			top: 50px;
			right: 20px;

			padding: 20px;

			font-weight: 700;
			background-color: transparent;
			color: map-get($teal, "500");
			cursor: pointer;

			border-radius: 10px;
			border: none;

			opacity: 0;

			transition: 0.5s;

			&:hover {
				transition: 0.5s;
			}
		}
	}

	code:not([class*="language-"]) {
		background-color: #1e2739;
		color: map-get($map: $lightBlue, $key: "A400");

		font-size: 0.8em;

		display: inline-block;

		padding: 1px 4px;
		margin: 0px 2px;

		border-radius: 5px;
	}

	pre[class*="language-"] {
		@include gutter;

		background-color: #1e2739;
		padding: 60px 30px 30px 30px !important;

		border-radius: 10px;
	}

	iframe {
		@include gutter;

		display: block;
		margin: auto;
		max-width: 100%
	}

	.katex {
		letter-spacing: 1px;

		padding: 0px;

		font-size: 20px;

		@media (max-width: 960px) {
			font-size: 16px;
		}

		.vlist > span {
			display: flow-root
		}
	}

	.katex-block {
		width: 100%;

		margin-top: 20px;
		margin-bottom: 20px;

		text-align: center;

		overflow-x: auto;

		@media (max-width: 960px) {
			font-size: 16px;
		}
	}
}

.markdown.dark {
	h1, h2, h3, h4, h5, h6 {
		border-bottom: 1px solid #303030;
	}

	blockquote {
		background-color: #1e2739;
	}

	.table-wrapper {
		@include gutter;
		@include table;

		table {
			$border: #323c50;

			tr {
				background-color: #2b3445;

				&:nth-child(2n) {
					background-color: $border;
				}

				&:hover {
					background-color: dodgerblue !important;
				}
			}
		}
	}
}

.markdown.light {
	h1, h2, h3, h4, h5, h6 {
		border-bottom: 1px solid #DDDDDD;
	}

	blockquote {
		background-color: whitesmoke;
	}

	.table-wrapper {
		@include gutter;
		@include table;

		table {
			$border: gainsboro;

			tr {
				background-color: whitesmoke;

				&:nth-child(2n) {
					background-color: $border;
				}

				&:hover {
					background-color: skyblue !important;
				}
			}
		}
	}
}