@import "../../common/color.module.scss";

$sun: map-get($orange, "500");
$moon: map-get($yellow, "500");

@mixin switch {
	position: fixed !important;
	right: 50px;
	bottom: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	padding: 15px 20px;

	border-radius: 100px;

	transition: 0.3s;

	cursor: pointer;

	&:hover {
		transition: 0.3s;
	}
}

.switch-light {
	@include switch;

	background-color: #161B22;
	color: white;

	border: 1px solid #21262D;
	box-shadow: 3px 3px 5px #21262D;

	&:hover {
		background-color: #262d35;
	}
}

.switch-dark {
	@include switch;

	background-color: white;
	color: black;

	border: 1px solid gainsboro;
	box-shadow: 3px 3px 5px gainsboro;

	&:hover {
		background-color: whitesmoke;
	}
}

.switch-text {
	font-size: 0.85rem;
}

.icon-light {
	color: $sun;
}

.icon-dark {
	color: $moon;
}