@import "../../common/animation.scss";
@import "../../common/env.scss";

@mixin root() {
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;

	width: 100%;
	height: 64px;

	z-index: 10;

	@media (max-width: $ref) {
		height: 48px;
	}
}

@mixin data-top() {
	&[data-top=true] {
		background-color: transparent;
		border-bottom: 1px solid hsla(0, 0%, 100%, .3);

		color: white;

		transition: 0.3s;
	}
}

.root-light {
	background-color: white;
	transition: 0.3s;

	border-bottom: 1px solid gainsboro;

	@include root;
	@include data-top;
}

.root-dark {
	background-color: #161B22;
	color: white;
	transition: 0.3s;

	@include root;
	@include data-top;
}

.wrapper {
	display: flex;
	align-items: center;
	gap: 15px;

	width: 100%;
	max-width: $ref;
	padding: 0px 20px;
}

.logo {
	color: #00D8FF;

	width: 30px;
	height: 30px;

	@include rotate-animation;

	@media (max-width: $ref) {
		width: 20px;
		height: 20px;
	}
}

.title {
	font-size: 1.5rem;
	font-weight: 900;

	flex: 1;

	@media (max-width: $ref) {
		font-size: 1.2rem;
	}
}