@import "../../common/animation.module.scss";

@mixin bar {
	height: 64px !important;
}

.bar-light {
	@include bar;

	background: linear-gradient(45deg, #FC466B, #3F5EFB);
}

.bar-dark {
	@include bar;

	background: linear-gradient(45deg, #161d2c, #020D1D);
}

.toolbar {
	@include bar;
}

.logo {
	animation: rotate 5s linear infinite;
	transform-origin: 50% 50%;
}

.title {
	font-weight: bold !important;

	color: white;
	transition: 0.5s;

	@media (max-width: 960px) {
		font-size: 24px !important;
		transition: 0.5s;
	}
}