@import "../../common/env.scss";

.root {
	display: flex;
	gap: 30px;

	@media (max-width: $ref) {
		display: none;
	}
}

.button {
	color: inherit;

	svg {
		width: 24px;
		height: 24px;
	}

	@media (min-width: $ref) {
		display: none;
	}
}

.link {
	transition: 0.3s;

	svg {
		width: 24px;
		height: 24px;
	}

	&:hover {
		color: dodgerblue;
		transition: 0.3s;
	}

	&:active {
		opacity: 0.5;
	}
}