.root {
	@media (max-width: 960px) {
		display: none !important;
	}
}

.button {
	color: white !important;
}

.item {
	color: white !important;
	transition: 0.5s;

	&:hover {
		color: gold !important;
		transition: 0.5s;
	}
}