.root {
	display: flex;
	gap: 30px;
}

.button {
	color: inherit;
	cursor: pointer;

	svg {
		width: 24px;
		height: 24px;
	}
}

.link {
	transition: 0.3s;

	svg {
		width: 24px;
		height: 24px;
	}

	&:hover {
		color: dodgerblue;
		transition: 0.3s;
	}

	&:active {
		opacity: 0.5;
	}
}