@import "../../common/animation.scss";
@import "../../common/color.scss";

$width: 200px;

.root {
	position: fixed;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;

	top: 48px;
	right: -200px;

	width: $width;
	height: 100%;

	box-sizing: border-box;

	z-index: 9;

	transition: 0.3s;

	&.dark {
		background-color: #0D1117;
		color: white;

		border-left: 1px solid #21262D;
	}

	&.light {
		background-color: white;

		border-left: 1px solid gainsboro;
	}

	&[data-show=true] {
		@include slide-in-animation();
	}

	&[data-show=false] {
		@include slide-out-animation();
	}
}

.list {
	width: 100%;
	list-style-type: none;

	li {
		a {
			display: inline-flex;
			align-items: center;
			gap: 10px;

			padding: 10px 20px;

			width: 100%;

			box-sizing: border-box;
		}
	}

	&.dark {
		li {
			border-bottom: 1px solid #21262D;

			a:active {
				background-color: #21262D;
			}
		}

	}

	&.light {
		li {
			border-bottom: 1px solid gainsboro;

			a:active {
				background-color: gainsboro;
			}
		}
	}
}

.switch {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	border-radius: 20px;

	padding: 10px;

	cursor: pointer;

	svg {
		&:first-child[data-status=true] {
			fill: map-get($map: $orange, $key: "500");
		}

		&:last-child[data-status=true] {
			fill: map-get($map: $yellow, $key: "500");
		}
	}

	&.light {
		color: dimgrey;
		background-color: gainsboro;
	}

	&.dark {
		color: grey;
		background-color: #161B22;
		border: 1px solid #21262D;
	}
}