@import "../../common/animation.module.scss";
@import "../../common/color.module.scss";
@import "../../common/env.scss";

$width: 200px;

@mixin root {
	position: fixed;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;

	top: 48px;
	right: -200px;

	width: $width;
	height: 100%;

	box-sizing: border-box;

	z-index: 9;

	@media (min-width: $ref) {
		display: none;
	}

	&[data-show=true] {
		@include slide-in-animation();
	}

	&[data-show=false] {
		@include slide-out-animation();
	}
}

@mixin switch {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	border-radius: 20px;

	padding: 10px;

	cursor: pointer;

	color: grey;

	svg {
		fill: map-get($map: $deepOrange, $key: 500) !important;
	}
}

.root-light {
	@include root;

	background-color: white;

	border-left: 1px solid gainsboro;
}

.root-dark {
	@include root;

	background-color: #0D1117;
	color: white;

	border-left: 1px solid #21262D;
}

.list {
	width: 100%;
	list-style-type: none;

	li {
		padding: 10px 20px;
		border-bottom: 1px solid #21262D;

		a {
			display: inline-flex;
			align-items: center;
			gap: 10px;
		}
	}
}

.switch-light {
	@include switch;

	background-color: whitesmoke;
}

.switch-dark {
	@include switch;

	background-color: #161B22;
	border: 1px solid #21262D;
}