@import "../../common/animation.module.scss";
@import "../../common/color.module.scss";
@import "../../common/env.scss";

$width: 200px;

@mixin root {
	position: fixed;

	top: 48px;
	right: -200px;

	width: $width;
	height: 100%;

	padding: 10px;

	box-sizing: border-box;

	z-index: 20;

	@media (min-width: $ref) {
		display: none;
	}

	&[data-show=true] {
		@include slide-in-animation();
	}

	&[data-show=false] {
		@include slide-out-animation();
	}
}

.root-light {
	@include root;

	background-color: white;
}

.root-dark {
	@include root;

	background-color: black;
}

.button {
	margin: 0px auto !important;
	width: 100%;

	font-size: 30px !important;
	color: map-get($map: $blue, $key: "700") !important;

	border: 1px solid map-get($map: $blue, $key: "700") !important;
	border-radius: 20px !important;

	svg {
		width: 30px;
		height: 100%;
	}

	&:not(:last-child) {
		margin-bottom: 20px !important;
	}

	&:hover {
		border: 1px solid map-get($map: $blue, $key: "700") !important;
		color: white !important;
		background-color: map-get($map: $blue, $key: "700") !important;
	}
}

.switch {
	&>span:last-child {
		background-color: white !important;
	}
}

.icon {
	color: white;
	font-size: 30px !important;
}

.dark-select {
	color: map-get($deepPurple, "400");
	font-size: 30px !important;
}

.light-select {
	color: map-get($orange, "400");
	font-size: 30px !important;
}