@import "./fonts/apple.scss";
@import "./fonts/blacksword.scss";

@import "./common/color.scss";
@import "./common/icons.scss";

@import "./components/global/markdown.scss";

@import "./common/env.scss";

@mixin genColor($map, $str) {

	@each $key,
	$val in $map {
		.#{$str}-#{$key} {
			color: $val;
		}
	}
}

* {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;

	padding: 0px;
	margin: 0px;

	font-size: 16px;

	font-family: -apple-system, "AppleSDGothicNeo", sans-serif;

	@media (max-width: $ref) {
		font-size: 14px;
	}
}

body {
	transition: 0.3s;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: transparent;
	border: transparent;

	cursor: pointer;
}

@include genColor($red, red);
@include genColor($pink, pink);
@include genColor($purple, purple);
@include genColor($deepPurple, deepPurple);
@include genColor($indigo, indigo);
@include genColor($blue, blue);
@include genColor($lightBlue, lightBlue);
@include genColor($cyan, cyan);
@include genColor($teal, teal);
@include genColor($green, green);
@include genColor($lightGreen, lightGreen);
@include genColor($lime, lime);
@include genColor($yellow, yellow);
@include genColor($amber, amber);
@include genColor($orange, orange);
@include genColor($deepOrange, deepOrange);
@include genColor($brown, brown);
@include genColor($grey, grey);
@include genColor($blueGrey, blueGrey);